<div class="container" style="margin: auto; width: 50%;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form #registerRef="ngForm" (ngSubmit)="register(registerRef)">
                <label for="firstName">First Name: </label><br/>
                <input type="text" name="firstName" size="60" ngModel placeholder="Enter your first name here....">
                <br/>

                <label for="lastName">Last Name: </label><br/>
                <input type="text" name="lastName" size="60" ngModel placeholder="Enter your last name here...">
                <br/>

                <label for="username">Username: </label><br/>
                <input type="text" name="username" size="60" ngModel placeholder="Enter your username here...">
                <br/>

                <label for="password">Password: </label><br/>
                <input type="password" name="password" size="60" ngModel placeholder="Enter your password here...">
                <br/>

                <input type="submit" value="Register">
                <input type="reset">
            </form>
              <br>
        </div>
        <div class="col-md-3"></div>
    </div>
    {{msg}}
</div>